<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" contect=""> 
	<title></title>
	<link href="../../../lib/mui/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
	<script src="../../../js/common/calcSize.js" type="text/javascript" charset="utf-8"></script>
	<link href="../../../css/mine/address/address.css" rel="stylesheet" />
	<script src="../../../lib/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../../lib/mui/mui.min.js"></script>
	<script src="../../../lib/vue/vue.min.js"></script>
	<body>
		<!--html-->
		<div id="app" v-cloak>
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<h1 class="mui-title">选择收货地址</h1>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			</header>
			<div class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="list-box">
						<ul>
							<li v-for="(item,index) in infos">
								<div class="details">
									<div class="name mui-clearfix">
										<div class="mui-pull-left">收件人：{{item.name}}</div>
										<div class="mui-pull-right">{{item.phone}}</div>
									</div>
									<div class="area">{{item.province}} {{item.city}} {{item.area}} {{item.detailed}}</div>
								</div>
								<span @click="changeChoose(''+item.id+'',''+index+'');" class="leftImg" :class="{active:item.istrue==true}"></span>
								<span @click="turnTo('addAddress',''+item.id+'');" class="rightImg"></span>
							</li>
						</ul>
					</div>
					<button class="oBtnAdd" type="button" @click="turnTo('addAddress','new')">+ 新建地址</button>
				</div>
			</div>
		</div>
		<!--script-->
		<script src="../../../js/common/common.js"></script>
		<script src="../../../js/mine/address/address.js"></script>
	</body>

</html>