#header{
	border-bottom:1px solid #E5E5E5 !important;
}
html,body,.mui-bar-nav~.mui-content{
	background: #f3f3f3;
}

.contentDiv{
	background:#FFFFFF;
	margin-top:0.2rem;
}
.contentDiv li{
	height:0.9rem;
	line-height:0.9rem;
	padding:0 0.2rem;
	border-bottom:1px solid #e5e5e5;
}
.contentDiv li p{
	font-size:0.24rem;
	color:#000000;
	display:inline-block;
}
.contentDiv li .left{
	text-align:left;
}
.contentDiv li .right{
	float:right;
}
.contentDiv li .right i{
	background: url(../../../img/mine/arrow.png) no-repeat 100%;
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    background-size: 0.15rem;
    vertical-align: -0.05rem;
}
.contentDiv li .right .iNone{	
	background:none;
}
.contentDiv li .right .gobinding{
	color:#ff4200;
}
