#header{
	border-bottom:1px solid #E5E5E5 !important;
	background:#2d2d2d;
}
html,body,.mui-bar-nav~.mui-content{
	background: #fd6830;
}
.white{
	color:#FFFFFF;
}
#header .mui-title{
	color:#FFFFFF;
	font-size:0.28rem;
}
.becomeDistributor{
	width:94%;
	margin:0 auto;
	margin-top:0.2rem;
	background:#ededed;
	min-height:4rem;
	border-radius:0.15rem;
	text-align:center;
}
.becomeDistributor img{
	width:90%;
	min-height:2.5rem;
	margin:0 auto;
	margin-top:0.2rem;
}
.becomeDistributor .oBtn{
	width:80%;
	height:0.8rem;
	line-height:0.8rem;
	text-align:center;
	background:#fe5216;
	color:#FFFFFF;
	font-size:0.28rem;
	margin:0 auto;
	border-radius:0.15rem;
	margin-top:0.15rem;
}
.becomeDistributor .xieyiP{
	padding:0.15rem 0;
}
.becomeDistributor .xieyi,.becomeDistributor .xieyiP a{
	font-size:0.24rem;
	color:#262626;
}
.becomeDistributor .checkxieyi{
	width:0.3rem;
	height:0.25rem;
}
.becomeDistributor .checkxieyi:after{
	background:#FF4200;
	color:#FF4200;
}
.becomeDistributorss{
	margin-bottom:0.2rem;
}
body,#app{
	height:100%;
}
.showDiv{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
	z-index:99;
}
.showDiv .showMain{
	width:70%;
	min-height:2.8rem;
	background:#FFFFFF;
	margin:0 auto;
	margin-top:70%;
}
.showDiv .showMain,.payMethod{
	/*margin-top:0.2rem;*/
	background:#FFFFFF;
}
.payMethod{
	margin-bottom:1rem;
	margin-top:0.2rem;
	z-index:200;
}
.showDiv .showMain li,.payMethod li{
	height:0.8rem;
	line-height:0.8rem;
	border-bottom:1px solid #bebebe;
	padding:0 0.2rem;
}
.showDiv .showMain li:last-child,.payMethod li:last-child{
	border:none;
}
.showDiv .showMain li p,.payMethod li p{
	font-size:0.24rem;
	color:#000000;
	display:inline-block;
}
.payMethod .weChart .leftImg{
	background:url(../../../img/shoppingCart/weixinzhifu.png) no-repeat center;
	width:0.5rem;
	height:0.5rem;
	background-size:0.3rem;
	vertical-align:-0.17rem;
}
.payMethod .alipay .leftImg{
	background:url(../../../img/shoppingCart/zhifubaozhifu.png) no-repeat center;
	width:0.5rem;
	height:0.5rem;
	background-size:0.3rem;
	vertical-align:-0.17rem;
}
.payMethod li .imgBtn{
	float:right;
}
.payMethod li .imgBtn i{
	display:inline-block;
	background:url(../../../img/shoppingCart/kongxinyuan.png) no-repeat center;
	width:0.5rem;
	height:0.5rem;
	background-size:0.3rem;
	vertical-align:-0.17rem;
}
.payMethod li .imgBtn.active i{
	display:inline-block;
	background:url(../../../img/shoppingCart/shixinyuan.png) no-repeat center;
	width:0.5rem;
	height:0.5rem;
	background-size:0.3rem;
	vertical-align:-0.17rem;
}
.showDiv .showMain li.oBtnss{
	text-align:right;
	margin-top:0.2rem;
}
.showDiv .showMain li.oBtnss .close{
	width: 1.5rem;
    height: 0.7rem;
    text-align: center;
    line-height: 0.7rem;
    background: gray;
    color: #fff;
    border-radius: 0.2rem;
    margin-right:0.3rem;
}
.showDiv .showMain li.oBtnss .goPay{
	width: 1.5rem;
    height: 0.7rem;
    text-align: center;
    line-height: 0.7rem;
    background: #ff4200;
    color: #fff;
    border-radius: 0.2rem;
}
.hideDiv img{
	
	border-radius: 50%;
	position: fixed;
	right:0;
	z-index: 100;
	top:3rem;
}
.hideDiv h6{
	color:#000000;
	position: fixed;
	right:0rem;
	z-index: 100;
	top:4rem;
	font-size: 16px;
	font-weight: 700;
	color:gray;
}
