.contentDiv{
	position:relative;
	background: #FFFFFF;
	padding: 0;
	margin:0;
}
.goldtitle{
	width:100%;
	font-size: 0.5rem;
	height: 3.5rem;
	text-align: center;	
	color:#FFFFFF;
	line-height: 1rem;
	background:#FF5E30;
}
.goldtitle .jf{
	position: relative;
	top:0.5rem;
	font-size: 0.35rem;
}
.golddetails{
	position: relative;
	border-bottom: 1px solid #ccc;
	height:1rem ;
	color:#000000;
	margin-top:.2rem;
}
.golddetails .num{
	position: absolute;
	bottom:0.1rem;
	right:0;
	font-size: 0.4rem;
	color:red;
}
.golddetails .num1{
	position: absolute;
	bottom:0.1rem;
	right:0;
	font-size: 0.4rem;
	color:green;
}
.golddetails .time{
	position: absolute;
	bottom:0;
	left:0;
	color:#7d7d7d;
}
.red{
	color:red !important;
}
.green{
	color:green !important;
}