.message{
	border-top: 1px solid #ccc;
}

.message li{
	line-height: 1.5rem;
	padding-left: 0.5rem;
	font-size: 0.3rem;
	border-bottom:1px dashed #DDDDDD;
}
.message li img{
	vertical-align: middle;
	width: 4%;
	height:4%;
	margin-right:0.3rem;
}
.mui-content{
	background: #FFFFFF !important;
}
