.message{
	border-top: 1px solid #000000;
}

.message li{
	
	padding-left:0.3rem;
	border-bottom:1px dashed #DDDDDD;
}
.message li img{
	vertical-align: middle;
	width: 5%;
	height:5%;
	margin-right:0.3rem;
}
.mui-content{
	background: #FFFFFF !important;
}
