#header{
	/*border-bottom:1px solid #FF5E30 !important;*/
	background: linear-gradient(to right, #FB805D,#FB734C); 
}
#header h1, #header a{
	color:#FFFFFF;
}
.contentDiv{
	padding:0.2rem;
	position:relative;
	background: #FFFFFF;
	padding: 0;
	margin:0;
}
.contentDiv div{
	position:relative;
}
.id{
	position: absolute;
	bottom:0.1rem;
	right:0;
}
.header{
	position: relative;
	background: url(../../img/mine/myticketbg.png);
	height:3.5rem;
	width: 100%;
	overflow: hidden;
}
.header .jfcricle{
	position: absolute;
	width:1.8rem;
	color:#FFFFFF;
	font-weight: bold;
	border: 1px solid #FFFFFF;
	height: 1.8rem;
	text-align: center;
	border-radius:50%;
	left: 50%;
	margin-left:-.9rem;
	top:1rem;
}
.header .wdjfmx{
	position: absolute;
	padding-top:.4rem;
	width:1.5rem;
	height: 1.5rem;
	border-radius:50%;
	border: 3px solid #FFFFFF;
	left: 50%;
	margin-left: -.75rem;
	top:.15rem;
}
.header .wdjfmx p{
	margin-bottom: .1rem;
	color:#FFFFFF;
}
.header span{
	margin-left:0.2rem;
	font-weight: bold;
}
.yhticket{
	margin-bottom: 0.3rem;
}
.header>img{
	width:10%;
	height:10%;
	border-radius:50%;
	margin-left: 0.1rem;
	vertical-align: top;
}
.jfgz{
	position: absolute;
	top:.2rem;
	left:75%;
	padding-left:0.3rem;
	width:35%;
	height: .5rem;
	background: #FB4511;
	border-radius:0.9rem;
}
.jfgz span{
	font-weight:normal;
	font-size: 0.25rem;
	line-height: 0.5rem;
	margin:0;
	color:#FFFFFF;
}
.jfgz img{
	vertical-align: middle;
}
.jfmx{
	position: absolute;
	background: url(../../img/mine/jfbg.png) no-repeat;
	background-size: 70%;
	width:20%;
	height: 40%;
	font-size:.2rem;
	left:0.3rem;
	top:0.3rem;
	padding-top: 1.1rem;
	padding-left:.1rem;
	color:#FFFFFF;
}
.imgBottom{
	margin:0 .2rem;
}
.imgBottom img{
	margin-bottom: 0.5rem;
	position: relative;
}
.imgBottom p{
	color: #FFFFFF;
}
.imgBottom .card1{
	position:absolute;
	z-index: 999;
	left:.5rem;
	bottom:1.6rem;
	font-size: 1.1rem;
	width:2rem;
	text-align: center;
	
}
.imgBottom .card2{
	text-align: center;
	position:absolute;
	width: 0.5rem;
	z-index: 999;
	top: .9rem;
	left:2.87rem;
	font-size: 0.35rem;
	/*font-weight: bold;*/
	color:rgba(255,255,255,.7)
}
.imgBottom .card3{
	position:absolute;
	z-index: 999;
	right:1.6rem;
	bottom:1.1rem;
}
/*.imgBottom .card4{
	position:absolute;
	z-index: 999;
	top:0.5rem;
	left:0.6rem;
	font-size:0.3rem;
	font-weight: bold;
}*/
[v-cloak] {
  display: none;
}