<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" contect=""> 
	<title></title>
	<link href="../../../lib/mui/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
	<script src="../../../js/common/calcSize.js" type="text/javascript" charset="utf-8"></script>
	<link href="../../../css/mine/shopGuide/customerList.css" rel="stylesheet" />
	<script src="../../../lib/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../../lib/mui/mui.min.js"></script>
	<script src="../../../lib/vue/vue.min.js"></script>
	<body>
		<div id="app" v-cloak>
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<h1 @tap="chooseIdentity();" class="mui-title">{{identityName}}<img src="../../../img/mine/sanjiao.png" alt="" /></h1>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			</header>
			<div class="mui-content">
				<div id="pullrefresh"  class="">
					<div class="products">
						<table class="contentTable" border="0" cellspacing="" cellpadding="">
							<tr>
								<th class="mui-col-sm-3">用户名</th>
								<th class="mui-col-sm-6">邀请时间</th>
								<th class="mui-col-sm-3">联系电话</th>
							</tr>
							<tr v-for="(item,index) in infos">
								<td class="bzName" @tap="modifyName(''+item.ID+'');">{{item.BZ}}</td>
								<td>{{item.CDATE}}</td>
								<td>{{item.UNAME}}</td>
							</tr>
						</table>
					</div>	
				</div>
			</div>
			<div @tap="hideIdentity();" v-if="identityC==true" class="identityChoose"></div>
			<div v-if="identityC==true"  class="whiteMain arrow_box">
				<p @tap="chooseIden(''+item.status+'',''+item.str+'');" v-for="(item,index) in infosStr">{{item.str}}</p>
			</div>
		</div>
		<!--script-->
		<script src="../../../js/common/common.js"></script>
		<script src="../../../js/mine/shopGuide/customerList.js"></script>
	</body>
</html>