<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" contect=""> 
	<title>金额列表</title>
	<link href="../../../lib/mui/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
	<script src="../../../js/common/calcSize.js" type="text/javascript" charset="utf-8"></script>
	<link href="../../../css/mine/shopGuide/moneyList.css" rel="stylesheet" />
	<script src="../../../lib/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../../lib/mui/mui.min.js"></script>
	<script src="../../../lib/vue/vue.min.js"></script>
	<body>
		<div id="app" v-cloak>
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<h1 class="mui-title">{{typeName}}</h1>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left white"></a>
			</header>
			<div class="mui-content">
				<div id="pullrefresh" class="">
					<div class="products">
						<table class="contentTable" border="0" cellspacing="" cellpadding="">
							<tr>
								<th class="mui-col-sm-6">用户名</th>
								<th class="mui-col-sm-5">快乐币</th>
								<th class="mui-col-sm-2"></th>
							</tr>
							<tr @tap="turnTo('searchList','searchList',''+item.MEMBERID+'');" v-for="(item,index) in infos">
								<td>{{item.BZ}}</td>
								<td>{{item.money | moneyFiler}}</td>
								<td class="arrow_right"></td>
							</tr>
						</table>
					</div>	
				</div>
			</div>
		</div>
		<!--script-->
		<script src="../../../js/common/common.js"></script>
		<script src="../../../js/mine/shopGuide/moneyList.js"></script>
	</body>
</html>