html,body, .mui-bar-nav~.mui-content{
	background:#efeff4;
}
#header{
	border-bottom:1px solid #E5E5E5 !important;
}

.message{
	background:#FFFFFF;
	margin-top:0.2rem;
}
.message .mainDiv{
	padding:0.2rem;
	display:flow-root;
	border-bottom:1px solid #bebebe;
}
.message .mainDiv:last-child{
	border:none;
}
.message .mainDiv img{
	width:1rem;
	height:1rem;
	margin-right:0.2rem;
	float:left;
}
.message .mainDiv p{
	/*display:inline-block;*/
}
.message .mainDiv .name{
	font-size:0.23rem;
	color:#3D3D3D;
	height:0.35rem;
	line-height:0.35rem;
	width:80%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.message .mainDiv .center{
	/*margin:0.1rem 0;*/
	font-size:0.22rem;
	color:#5e5e5e;
	text-align:right;
}
.message .mainDiv .money{
	color:#5e5e5e;
	font-size:0.23rem;
	overflow:auto;
	height:0.35rem;
	line-height:0.35rem;
}
.message .mainDiv .money .left{
	color:#ff4200;
	font-size:0.28rem;
}
.message .mainDiv .money .right{
	display:inline-block;
	width:1.2rem;
	height:0.45rem;
	line-height:0.45rem;
	text-align:center;
	font-size:0.24rem;
	border:1px solid #c8c8c8;
	float:right;
	border-radius:0.08rem;
}
.use-wrap{
	width:100%;
	margin-top:0.2rem;
}
.use-wrap li{
	margin-bottom:0.2rem;
	background:#FFFFFF;
	padding:0;
}
.use-wrap li .time{
	height:0.7rem;
	line-height:0.7rem;
	font-size:0.25rem;
	color:#000000;
	padding:0 0.2rem;
}
.use-wrap li .time .statusRight{
	float:right;
}
.use-wrap li .main{
	height:1.2rem;
	line-height:1.2rem;
	padding:0 0.2rem;
	background-color:#fafafa;
}
.use-wrap li .main p{
	display:inline-block;
}
.use-wrap li .main img{
	width:0.8rem !important;
	height:0.8rem;
	margin-right:0.3rem;
	display:inline-block;
	vertical-align: middle;
}
.use-wrap li .main i,.use-wrap li .main span{
	display:inline-block;
	color:#5e5e5e;
}
.use-wrap li .main span{
	float:right;
	font-size:0.23rem;
}
.use-wrap li .money{
	text-align:right;
	margin:0.2rem 0;
	padding:0 0.2rem;
	font-size:0.22rem;
	color:#010101;
	overflow: hidden;
}
.use-wrap li .money span{
	font-size:0.25rem;
	color:#000000;
}
.use-wrap li .money span.left{
	float:left;
	text-align:left;
}
.use-wrap li .money span.right{
	float:right;
}
.use-wrap li .liBtn{
	margin-bottom:0.2rem;
	padding:0 0.2rem;
	text-align:right;
}
.use-wrap li .liBtn p{
	font-size:0.23rem;
	color:#000000;
	text-align:center;
	width:1.5rem;
	height:0.5rem;
	line-height:0.5rem;
	border:1px solid #cccccc;
	display:inline-block;
}
.use-wrap li .liBtn p.goPay,.use-wrap li .liBtn p.aginPay{
	color:#FF4200;
	border-color:#FF4200;
}
.use-wrap li .reason{
	min-height:0.3rem;
	padding:0 0.2rem;
	background:#FFFFFF;
}
.use-wrap li .reason p{
	font-size:0.22rem;
	color:#282828;
	margin:0.2rem 0;
	
}
.use-wrap li .reason p.platformR{
	margin-top:0;
}
.use-wrap li .reason p span{
	color:#7d7d7d;
	overflow:hidden;
	text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.use-wrap li .reason p span i{
	font-style:normal;
	color:#282828;
}



body,#app,.mui-content{
	height:100%;
}
.noMyOrder img{
	display:block;
	width:25% !important;
	margin:0 auto;
	margin-top:3rem;
}
.noMyOrder p{
	margin-top:0.3rem;
	text-align:center;
	font-size:0.28rem;
}
[v-cloak] {
    display: none !important;
}
.oBtn{
	width:65%;
	height:.7rem;
	position:relative;
	left:50%;
	margin-left: -32.5%;
	border:1px solid #ff6530;
	color:#ff6530;
	font-size:18px;
	

}
