<!DOCTYPE html>
<html>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="author" contect=""> 
    <title></title>	
    <link href="../../lib/mui/mui.min.css" rel="stylesheet"/>
  	<link href="../../lib/swiper3/swiper.min.css" rel="stylesheet">
  	<link href="../../css/common.css" rel="stylesheet"/>
    <link href="../../css/homePage/homeIndex.css" rel="stylesheet"/>
    <script src="../../js/common/calcSize.js"></script>
    <script src="../../lib/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../lib/mui/mui.min.js"></script>
    <script src="../../lib/vue/vue.min.js"></script>
    <script src="../../lib/swiper3/swiper.min.js"></script>
    
	<body>
		<!--html-->
		<div id="app" v-cloak>
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<div @click="turnTo('searchSearch','searchSearch','searchSearch');" class="mui-input-row mui-search">
				    <input placeholder="搜索你所喜欢的东西" disabled="disabled" type="search" class="mui-input-clear" placeholder="">
				</div>
				<a @tap="turnTo('cityChoose','cityChoose')" class="mui-pull-left"><span>{{locationPosition}}</span><i></i></a>
				<!--<a style="width:1rem;" class="mui-pull-left"><span>5941</span></a>-->
				<a @tap="turnTo('messageIndex','messageIndex')" class="mui-pull-right"><i></i></a>
			</header>
			<div class="mui-content" id="pullrefresh">
				<div class="">
					<div class="mui-scroll">
						<div class="contentDiv">
							<div class="navTitle">
								<a v-for="(item,index) in type" @tap="chooseTitle(''+index+'',item.LARGECLASS);" class="" :class="{active:isTitle==''+index+''}" href="javascript:void(0);">{{item.LARGECLASS}}</a>
							</div>
							<div class="banner">
								<div class="swiper-container">
								  	<div class="swiper-wrapper">
								    	<!--<div class="swiper-slide" v-for="c in carousel"  :style="{backgroundImage: 'url('+c.imageUrl+')'}"></div>-->						
								  		<div @tap="turnToX(''+c.url+'','commodityDetails',''+c.pagekey+'',''+index+'')" class="swiper-slide" v-for="(c,index) in top" :style="{backgroundImage:'url('+server+c.path+')'}"></div>
								  	</div>
								  	<!--底部滑块-->
								  	<div class="swiper-pagination"></div>
								</div>	
							</div>
							<!--广告-->
							<!--<p class="advertisement">
								<span class="leftImg" :style="{backgroundImage:'url('+server+advertisement.path+')'}"></span>
								<i class="shu"></i>
								<span class="rightWord">
									<i>{{advertisement.describe}}</i>
								</span>
							</p>-->
							<!--广告大图可跳转详情-->
							<div class="bigImgTodetails">
								<p class="toImg" @tap="turnToX(''+item.url+'','commodityDetails',''+item.pagekey+'')" v-for="(item,index) in topBelow" :style="{backgroundImage:'url('+server+item.path+')'}"></p>
							</div>
							<!--商品-->
							<div class="shopsDiv" v-for="(item,index) in shops">
								<p @tap="turnTo('homeList','homeList',''+item.mk+'')" class="topTitle">{{item.mk}}</p>
								<div class="products">
									<dl v-for="(i,index) in item.listmap" @tap="portrait(''+i.COMMODITYKEYID+'');" class="shopps">
										<dt style="position: relative;overflow: hidden;">
											<img v-bind:src="server+i.MAINIMAGE"/>
											<p class="seconds" v-if="i.MS=='1'">限时秒杀</p>
											<p class="seconds" v-if="i.YS=='1'">限时预售</p>
											<p class="seconds" v-if="i.PDD=='1'">限时拼团</p>
										</dt>
										<dd> 
											<p>{{i.NAME}}</p> 
											<span class="priceNew">￥{{i.PRICE}}</span><span v-if="i.ORIGINALPRICE!='' && i.ORIGINALPRICE!=i.PRICE && i.ORIGINALPRICE!=null &&i.ORIGINALPRICE!=undefined " class="oldMoney">￥{{i.ORIGINALPRICE}}</span>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>	
			<div v-show="isImgTu==true" class="hideDiv">
				<div class="main">
					<img :src="server+Eject.path"/>
					<i @tap="closeImg();"></i>
				</div>
			</div>
		</div>					
		<!--script-->
		<script src="../../js/common/common.js"></script>
		<script src="../../js/homePage/homeIndex.js"></script>
	</body>
	<script>
		mui.init();
			
		mui.plusReady(function () {
//				var view = plus.nativeObj.View.getViewById("title");
//				
//				var bitmap = new plus.nativeObj.Bitmap("back");
//				bitmap.loadBase64Data("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAb1BMVEUAAAAAev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8AAACubimgAAAAI3RSTlMAGfUTGfQTGPMSGPIYGhgaGBsXGxcbFxwXHBccFhwWHRYdHWufDPQAAAABYktHRACIBR1IAAAAB3RJTUUH4QETEBwooeTlkQAAAJVJREFUSMft1EkSgkAQRNFGUXFWHBDBibr/HTUwD5B/48Ig1y+io7u6MqUhf5hsNEY+j5hMgZ/FJ8Xc9ovos3T96utjbfqN/Nb0O/m96Uv5g+mP8ifTn+Ur01/ka9Nf5RvTt/I309/lH6Z/yr9Mn+Q71/MT8B34K/E58Enzv8R/K98HvnF8p3lr8F7izce7lbf3kJ/lDQp9HdBhgg3PAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE3LTAxLTE5VDE2OjI4OjQwKzA4OjAwpTDFwQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0wMS0xOVQxNjoyODo0MCswODowMNRtfX0AAAAASUVORK5CYII=");
//				view.drawBitmap(bitmap, {}, {
//					top: "10px",
//					left: "10px",
//					width: "24px",
//					height: "24px"
//				});
//				
//				view.setTouchEventRect({top:"0px",left:"0px",width:"44px",height:"100%"});
		});
	</script>
</html>
