<!DOCTYPE html>
<html>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="author" contect=""> 
    <title></title>	
    <link href="../../lib/mui/mui.min.css" rel="stylesheet"/>
  	<link href="../../lib/swiper3/swiper.min.css" rel="stylesheet">
  	<link href="../../css/common.css" rel="stylesheet"/>
  	<link rel="stylesheet" href="../../css/homePage/homeIndex.css" />
    <link href="../../css/homePage/searchSearch.css" rel="stylesheet"/>
    <script src="../../js/common/calcSize.js"></script>
    <script src="../../lib/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../lib/mui/mui.min.js"></script>
    <script src="../../lib/vue/vue.min.js"></script>
	<body>
		<!--html-->
		<div id="app">
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<div class="mui-input-row mui-search">
				    <input v-model="searchName" placeholder="搜索你所喜欢的东西" type="search" class="inputSearch mui-input-clear" placeholder="">
				</div>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<a @tap="searchBtn();" class="mui-pull-right mui-pull-rightHeader">搜索</a>
			</header>
			<div class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="contentDiv">
						<p class="kongColor"></p>
						<div class="hotSearch">
							<h3>热门搜索</h3>
							<span @tap="turnTo('searchIndex','searchIndex',''+item.text+'');" v-for="(item,index) in infos">{{item.text}}</span>
						</div>
						<p class="kongColor"></p>
						<div class="hotSearch">
							<h3>搜索记录<i @tap="clearsearchR();" class="clearRight"></i></h3>
							<span @tap="turnTo('searchIndex','searchIndex',''+x+'');" v-for="(x,index) in oldArray">{{x}}</span>
						</div>
					</div>
				</div>
			</div>	
		</div>					
		<!--script-->
		<script src="../../js/common/common.js"></script>
		<script src="../../js/homePage/searchSearch.js"></script>
	</body>
</html>
