<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" contect=""> 
	<title></title>
	<link href="../../lib/mui/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script src="../../js/common/calcSize.js" type="text/javascript" charset="utf-8"></script>
	<link href="../../css/homePage/turntable.css" rel="stylesheet" />
	<script src="../../lib/jquery/jquery.min.js"></script>
	<script src="../../lib/mui/mui.min.js"></script>
	<script src="../../lib/vue/vue.min.js"></script>
	<script src="../../lib/echarts-all.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/homePage/turntable.css"/>
	<body class="main_box" style="background-color: #eee">
		<!--html-->
		<div id="app" v-cloak>
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<h1 class="mui-title">快乐抽奖</h1>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<a class=" mui-icon mui-icon-more  mui-pull-right" @tap="turnTo('myaddress','myaddress')"></a>
			</header>
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
				<div class="container">
					<div class="turntable">
						<div id="turntable">
						</div>
						<img src="../../img/homePage/iorn.png"  class="iorn">
						<p id="integral" v-if="select_max>=1" @tap="luckdraw">免费<br>抽一次</p>
						<p id="integral"  v-if="select_max<=01"  @tap="luckdraw">{{M_NUM}}积分<br>抽一次</p>
						<p id="myintegral">我的积分<br>{{goldcoin}}分</p>
						<h4 class="leavetimes" v-if="select_max>=1">你还有 <strong class="clicknum">{{select_max}}</strong> 次免费刮奖机会</h4>
					</div>
					<div class="details">
						<h4  @tap="turnTo('activedetails','activedetails')">活动规则<span style="padding-left:0rem;font-size: 10px;">&nbsp; &nbsp;查看详情</span></h4>
						<div class="explain">
							<p>{{Detail}}</p>
						</div>
						<h4>奖品展示:</h4>
						<div class="prize">
							<div class="prizes"  v-for="item in imgs">
								<div class="prize-item">
									<img :src="item.imagepath | httpgl" alt="" width="100%">
								</div>
								<p>{{item.title}}</p>
							</div>	
						</div>
					</div>
					<p class="prizehistory" @tap="turnTo('turntabledetail','turntabledetail')">中奖纪录&gt;&gt;</p>
				</div>
			</div>
			<div class="getprizethanks">
				<img src="../../img/homePage/getPic.png" class="getprizeimgthanks">
				<span id="cjtitle">
					{{cjtitle}}
				</span>
				<span class="closebtn1" @tap="closebtn">
					点击关闭
				</span>
			</div>
			<div class="getprize">
				<img src="../../img/homePage/tips.png" class="getprizeimg">
				<span id="cjtitle">
					{{cjtitle}}
				<p>奖品将自动发放</p>
				</span>
				<span class="closebtn1" @tap="closebtn">
					点击关闭
				</span>
			</div>
			<div id="circle">
				<p v-for="(item,index) in imgs">
					{{item.title}}
				</p>
				<p v-for="(item,index) in imgs">
					{{item.title}}
				</p>
			</div>
		</div>
		<!--script-->
		<script src="../../js/common/common.js"></script>
		<script src="../../js/homePage/turntable.js"></script>
	</body>
</html>