html{
	background: #FFFFFF;
}
#header{
	border-bottom:1px solid #ccc!important;
	background: #ff7100;
}
#header h1, #header a{
	color:#FFFFFF;
}
#app{
	position: relative;
}
.content{
	width:100%;
	position: absolute;
	top:1rem;
	padding:0 .5rem 0 .5rem; 
	left:50%;
	margin-left:-50%;
}
.mui-btn.mui-btn-primary{
	position:absolute;
	right:0.5rem;
	bottom:-.7rem;
	background: #ff7100;
	border-color:#ff7100
}
