html{
	background:#ffffff;
}
.mui-icon{
	color:#ff5930;
}

#header{
	background: #ff7100;
}
#header h1, #header a{
	color:#FFFFFF;
}
.content{
	 position: relative; 
	/* margin:.2rem; */
	/* border:1px solid #7d7d7d; */
	background:url(../../img/homePage/prizedetails.png);
	background-size:cover;
	height: 2.5rem;
	padding-top:.4rem;
}
.contents{
	position: relative;
}
.content p{
	margin-top:.15rem;
	padding-left:.5rem;
	color:rgba(0,0,0,.9);
	
}
.contents-item2{
	position:absolute;
	right:0.2rem;
	bottom:.8rem;
	transform: rotate(-90deg);
	font-size: 18px;
	font-weight: bold;
}
.contents-item4{
	position: absolute;
	right: 0.1rem;
	bottom:0;
}
.hide{
	position:fixed;
	width:100%;
	height: 12rem;
	background: #fff;
	top:.75rem;
	/* left:50%; */
	/* margin-left:-42.5%; */
	overflow: auto;
}
.section{
	background:url(../../img/homePage/prizedetails.png);
	background-size:cover;
	width:100%;
	height: 2.5rem;
	margin:0 auto;
	padding-top:.3rem;
}
.section p{
	padding-left: .5rem;
	color:#000;
}