<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" contect=""> 
	<title></title>
	<link href="../../lib/mui/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script src="../../js/common/calcSize.js" type="text/javascript" charset="utf-8"></script>
	<link href="../../css/mine/ticketshare.css" rel="stylesheet" />
	<link rel="stylesheet" href="../../css/mine/golddetails.css" />
	<script src="../../lib/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../lib/mui/mui.min.js"></script>
	<script src="../../lib/vue/vue.min.js"></script>
	<body>
		<div id="app">
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<h1 class="mui-title">积分明细</h1>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			</header>
			<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
				<div class="mui-scroll">
					<div class="contentDiv">
					<p class="goldtitle">
						<span class="jf">积分</span>
						<br />
						<span class="jfen">{{goldcoin}}分</span>
					</p>
					<p v-for="item in infos" class="golddetails">
						<span class="title">{{item.title}}</span> 
						<span class="num" :class="item.num>0?'red':'green'" >{{item.num | jfdetail}}</span>  
						<span class="time">{{item.id | myCurrency}}</span>
					</p>
					</div>
				</div>	
			</div>
		</div>
		<!--script-->
		<script src="../../js/common/common.js"></script>
		<script src="../../js/mine/golddetails.js"></script>
	</body>
</html>