<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" contect=""> 
	<title></title>
	<link href="../../lib/mui/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script src="../../js/common/calcSize.js" type="text/javascript" charset="utf-8"></script>
	<link href="../../css/mine/myCollection.css" rel="stylesheet" />
	<script src="../../lib/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../lib/mui/mui.min.js"></script>
	<script src="../../lib/vue/vue.min.js"></script>
	<body>
		<!--html-->
		<div id="app">
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<h1 class="mui-title">我的收藏</h1>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			</header>
			<div class="mui-content">
				<div id="pullrefresh"  class="">
					<div class="products">
						<div class="contentDiv">
							<ul class="message">
								<li v-for="(item,index) in infos" class="mainDiv">
									<img :src="server+item.MAINIMAGE" @tap="turnToX('../shoppingCart/commodityDetails','commodityDetails',''+item.COMMODITYKEYID+'');"/>
									<p @tap="turnToX('../shoppingCart/commodityDetails','commodityDetails',''+item.COMMODITYKEYID+'');" class="name">{{item.NAME}}</p>
									<p @tap="turnToX('../shoppingCart/commodityDetails','commodityDetails',''+item.COMMODITYKEYID+'');" class="center">{{item.INTRODUCTION}}</p>
									<p class="money">
										<span class="left">￥{{item.PRICE}}</span>
										<span @tap="cancelCollection(''+item.ID+'');" class="right">取消收藏</span>
									</p>
								</li>
							</ul>
						</div>
					</div>	
				</div>	
			</div>
		</div>
		<!--script-->
		<script src="../../js/common/common.js"></script>
		<script src="../../js/mine/myCollection.js"></script>
	</body>

</html>