<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" contect=""> 
	<title></title>
	<link href="../../lib/mui/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script src="../../js/common/calcSize.js" type="text/javascript" charset="utf-8"></script>
	<link href="../../css/mine/myPoints.css" rel="stylesheet" />
	<script src="../../lib/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../lib/mui/mui.min.js"></script>
	<script src="../../lib/vue/vue.min.js"></script>
	<body>
		<!--html-->
		<div id="app">
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<h1 class="mui-title">我的积分</h1>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			</header>
			<div class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="contentDiv">
						<div class="top">
							<p class="left">可用积分：</p>
							<h3>0</h3>
							<p class="center">等于0元</p>
						</div>
						<ul class="section">
							<li>
								<h4>积分有什么作用？</h4>
								<p>目前在本网站，积分可以在购物结算时抵用现金。10积分=1元</p>
							</li>
							<li>
								<h4>如何获取积分？</h4>
								<p>
									<span>1、购物订单返还、单笔消费订单支付金额，不含优惠券、账户余额、积分抵扣、每100元返1积分且取整，即单笔订单依据取整规则满180元，也只返还1积分。</span>
									<span>2、充值订单返还。每100元返1积分，且取整即单笔订单依据取整规则满180元，也只返还1积分</span>
								</p>
							</li>
							<li>
								<h4>积分什么时候还？</h4>
								<p>
									<span>1、购物订单：积分会在客户订单支付后7天返还</span>
									<span>2、充值订单：在客户充值支付完成后小时内返还</span>
								</p>
							</li>
							<li>
								<h4>积分过期规则</h4>
								<p>
									<span>积分过期规则：客户可用积分到每年自然年年底最后一天的24点自动过期，期间为去年7.1到今年6.30的积分过期</span>
									<span>例如：2016年12月31日24点会过期 2015年7月1日至2016年6月30日的客户获取的未使用积分</span>
								</p>
							</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
		<!--script-->
		<script src="../../js/common/common.js"></script>
		<script src="../../js/mine/myPoints.js"></script>
	</body>

</html>