<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" contect=""> 
	<title></title>
	<link href="../../lib/mui/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<script src="../../js/common/calcSize.js" type="text/javascript" charset="utf-8"></script>
	<link href="../../css/mine/ticketshare.css" rel="stylesheet" />
	<script src="../../lib/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../lib/mui/mui.min.js"></script>
	<script src="../../lib/vue/vue.min.js"></script>
	<body>
		<div id="app" v-cloak>
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<h1 class="mui-title">兑换详情</h1>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			</header>
			<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
				<div class="mui-scroll">
					<div class="contentDiv">
						<div class="imgBottom" v-for="item in cards">
							<p class="card1">{{item.NUMBERA}}</p>
							<p class="card2">{{item.NUMBERMIN}}</p>
							<p class="card3">{{item.GOLDCOINNUM}}积分可兑换</p>
							<!--<p class="card4">{{item.TITLE}}</p>-->
							<img src="../../img/mine/card.png" alt="" width="100%" @tap="turnTo('ticketshare',''+item.ID+'')"/>
						</div>
					<div class="bottomdiv">
						<ul>
							<li class="mui-table-view-cell" >
							<a class="mui-navigate" href="#">卡券详情</a>
								<div class="mui-collapse-content">
									<p>1.在积分足够的情况下，客户可在全月任意时间申请兑换，可多次兑换</p>
									<p>2.客户兑换卡券成功后，不能退换</p>
									<p>3.兑换成功后，卡券自动下发到客户的账户中；兑换的卡券，可在优惠券中查看</p>
									<p>4.积分兑换的卡券，在满足使用条件的商品时，可抵用</p>
								</div>
							</li>
					</ul>	
					<p class="shareMyticket" @tap="getMyticket()">
						兑换优惠券
					</p>
					</div>
				
					</div>
				</div>	
			</div>
		</div>
		<!--script-->
		<script src="../../js/common/common.js"></script>
		<script src="../../js/mine/ticketshare.js"></script>
	</body>
</html>