<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="author" contect=""> 
	<title>完善资料</title>
	<link href="../../../lib/mui/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
	<script src="../../../js/common/calcSize.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="../../../css/homePage/homeIndex.css" />
	<link href="../../../css/mine/myCopperate/searchStore.css" rel="stylesheet" />
	<script src="../../../lib/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../../lib/mui/mui.min.js"></script>
	<script src="../../../lib/vue/vue.min.js"></script>
	<body>
		<div id="app">
			<header id="header" class="mui-bar mui-bar-nav nav-home">		
				<div class="mui-input-row mui-search white">
				    <input @focus="inputFocus();" id="searchContent" v-model="searchName" placeholder="请输入门店信息来进行搜索" type="search" class="inputSearch mui-input-clear" placeholder="">
				</div>
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<a v-show="isSurnBtn==0" style="color:#FFFFFF;" @tap="searchBtn();" class="mui-pull-right mui-pull-rightHeader white">搜索</a>
				<a v-show="isSurnBtn==1" style="color:#FFFFFF;" @tap="surnBtn();" class="mui-pull-right mui-pull-rightHeader white">确定</a>
			</header>
			<div class="mui-content">
				<div id="pullrefresh"  class="">
					<div class="products">
						<ul class="contentDiv">
							<div v-for="(item,index) in infos" class="section">
							<li @tap="chooseRadio(infos[index].CODE,infos[index].SHOPNAME);" class="mui-checkbox">
								<input class="checkxieyi" name="checkbox" value="" type="radio">
								<label class="mdName">{{item.SHOPNAME}}</label>
							</li>
								
							</div>


						</ul>
					</div>	
				</div>
			</div>
		</div>
		<!--script-->
		<script src="../../../js/common/common.js"></script>
		<script src="../../../js/mine/myCopperate/searchStore.js"></script>
	</body>
</html>